.character-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.container-info {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

.character-list a {
    cursor: pointer;
}

.character-item {
    margin: 5px;
    display: flex;
    flex-direction: row;
    /* max-width: 00px; */
    justify-content: space-between;

    font-size: 0.9rem;
}

.character-item .name, 
.character-item .age {
    font-weight: 700;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}