<mat-card>
    <mat-card-title>Personagens cadastrados</mat-card-title>
    <mat-card-subtitle>Para visualizar todas as informações sobre determinado personagem é necessário clicar sobre o seu nome.</mat-card-subtitle>
    <ul class="character-list">
        <li *ngFor="let character of characters" class="character-item"> 
            <div class="container-info">
                <a (click)="toggleCharacterView(character['_id'])"> <span class="name"> Nome:</span> {{ character.name }}</a> 
                <span *ngIf="character.isActive"> <span class="age"> Idade: </span> {{ character.age }}</span>
            </div>
            <div>
                <a routerLink="/characters/update/{{ character['_id'] }}" class="edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
                <a routerLink="/characters/remove/{{ character['_id'] }}" class="delete">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </div>
        </li>
    </ul>
</mat-card>
